<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<!-- pa usar el head de mi plantilla layoud: -->	
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<style type="text/css"  >
.content {
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 1.75rem;
    text-align:center;
}
</style>
</head>
<body>
	<!-- CONTENIDO DE LA PAGINA -->
<section class="nombreClass">
<div id="layoutSidenav_content" layout:fragment="page-content">
	<main style="text-align:center">			   
		<!-- Debo hacer mi CSS aparte pal main -->
	<div class="content" >
        <h4 class="text-primary">Detalle de Cliente</h4>     
        <div class="info"  style="text-align:center">
           <div th:object="${clientecompleto}" class="row" >
                   <div class="col-auto">
                                <h5 class="text-muted">
                                    IdCliente
                                </h5>
                         <div th:text="*{idpersona}" class="field">    </div>
                   </div>
                   <div class="col-auto">
                                <h5 class="text-muted">
                                    Nombre Completo
                                </h5>
                                <div th:text="*{persona.getNombreCompleto()}" class="field">   </div>
                  </div>
                  <div class="col-auto">
                                <small class="text-muted">
                                    Tipo de Doc
                                </small>
                                <div th:text="*{persona.tipo_documento}" class="field">  </div>
                  </div>
                  <div class="col-auto">
                                <small class="text-muted">
                                    Número de Documento
                                </small>
                                <div th:text="*{persona.num_documento}" class="field">   </div>
                            </div>
                  <div class="col-auto">
                                <small class="text-muted">
                                    Dirección
                                </small>
                                <div th:text="*{persona.direccion}" class="field">  </div>
                  </div>
                  <div class="col-auto">
                                <small class="text-muted">
                                    Teléfono
                                </small>
                                <div th:text="*{persona.telefono}" class="field">
                                </div>
                  </div>
                  <div class="col-auto">
                                <small class="text-muted">
                                    Email
                                </small>
                                <div th:text="*{persona.email}" class="field">  </div>
                  </div>
                  <div class="col-auto">
                                <small class="text-muted">
                                    Login
                                </small>
                                <div th:text="*{login}" class="field">  </div>
                  </div> 
                  <div class="col-auto">
                                <small class="text-muted">
                                    Password
                                </small>
                                <div th:text="*{password}" class="field">  </div>
                  </div> 
                  <div class="col-auto">
                                <small class="text-muted">
                                    Ruc
                                </small>
                                <div th:text="*{ruc}" class="field">  </div>
                  </div> 
                  <div class="col-auto">
                                <small class="text-muted">
                                    Razón Social
                                </small>
                                <div th:text="*{razonsocial}" class="field">  </div>
                  </div> 
                  
                  
                  <div class="col">
                       <button class="btn btn-outline-info btn-block go-back-btn" type="button">
                                   Volver atrás
                      </button>
                  </div>                 
          </div>
       </div>
             
                
    </div>						
				
	</main>
			<!-- PIE DE PAGINA:reemplazalo segun mi layout -->
	<footer th:replace="layout/layout :: footer"></footer>
</div>
</section>
	
	<!-- SCRIPTS NECESARIOS PARA ESTA PAGINA especifica AGREGAR AQUI -->
	<th:block layout:fragment="page-scripts">
	     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
               		
	</th:block>
</body>
</html>