<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<!-- pa usar el head de mi plantilla layoud: -->	
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
<body>
	<!-- CONTENIDO DE LA PAGINA -->
	<section class="nombreClass">
		<div id="layoutSidenav_content" layout:fragment="page-content">
			<main>			   
				<div class="card mb-4">
                            <div class="card-header">
                              <div class="row">
                                  <div class="col">
                                      <i class="fas fa-table me-1"></i>
                                      Listado de Alquileres
                                  </div>
                                   
                              </div>
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>IdAlquiler</th>                                            
                                            <th>IdReserva</th>
                                            <th>Habitación</th>
                                            <th>Fecha Ingreso</th>
                                            <th>Fecha Salida</th>
                                            <th>Costo Estadía </th>                                            
                                            <th>Costo Total</th>
                                            <th>Deuda Aloja </th> 
                                            <th>Deuda Total </th>                                            
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>IdAlquiler</th>                                            
                                            <th>IdReserva</th>
                                            <th>Habitación</th> 
                                            <th>Fecha Ingreso</th>
                                            <th>Fecha Salida</th>
                                            <th>Costo Estadía </th>                                            
                                            <th>Costo Total</th>
                                            <th>Deuda Aloja </th>
                                            <th>Deuda Total </th>                                            
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>                                                                     
                                        <tr th:each="alquiler : ${baraja}">                                                                              
                                        <th:block th:object="${alquiler}">
                                            <th th:text="*{idalquiler}" scope="row"></th> 
                                            <th th:text="*{reserva.idreserva}" ></th>  
                                            <th th:text="*{reserva.habitacion.numero}" ></th>                                                                                     
                                            <td th:text="*{fecha_ingreso}"></td>                                            
                                            <td th:text="*{fecha_salida}"></td>
                                            <td th:text="*{costo_alojamiento}"></td>  
                                            <td th:text="*{costototal}"></td>
                                            <td th:text="*{deudaaloja}"></td>  
                                            <td th:text="*{deuda}"></td>                                          
                                            <td th:text="*{estado}"> </td>
                                        </th:block>
                                        <td th:with="baseUrl = @{/Alquiler/{id}(id=${alquiler.idalquiler})}">
                                            <div class="form-row">
                                                <div class="col-auto" th:switch="${alquiler.estado=='Vigente'}"   >
                                                  <th:block th:case="true">
                                                    <a th:href="|${baseUrl}/alquiler_editar|" class="btn btn-success">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                   </th:block>
                                                   <th:block th:case="false">				        
					                                </th:block>	                                                   
                                                </div>                                            
                                                <div class="col-auto">
                                                    <a th:href="|${baseUrl}/consulconsumos|" class="btn btn-primary">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </div> 
                                                <div class="col-auto" th:with="base = @{/Pago/{a}(a=${alquiler.idalquiler})}"
                                                   th:switch="${alquiler.deudaaloja != 0.0}" >
                                                   <th:block th:case="true">
                                                       <a th:href="|${base}/pagoaloja|"      class="btn btn-danger">
                                                           <i class="fa fa-flag" aria-hidden="true"></i> 
                                                       </a>
                                                    </th:block>
                                                    <th:block th:case="false">				        
					                                </th:block>	
                                                </div> 
                                                <div class="col-auto" th:switch="${alquiler.estado=='Vigente'}">	
				    								<th:block th:case="true">					
				                                        <a th:href="|${baseUrl}/checkout|"      class="btn btn-info">
                                                            <i class="fa fa-blind" aria-hidden="true"></i> 
                                                       </a>
					                                </th:block>	
					                                <th:block th:case="false">				        
					                                </th:block>	
				                               </div>                                                
                                                                                                                                              
                                            </div>
                                        </td>                                           
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                </div>				
			</main>
			<!-- PIE DE PAGINA:reemplazalo segun mi layout -->
			<footer th:replace="layout/layout :: footer"></footer>
		</div>
	</section>
	<!-- SCRIPTS NECESARIOS PARA ESTA PAGINA especifica AGREGAR AQUI -->
	<th:block layout:fragment="page-scripts">
	     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
		
	</th:block>

</body>
</html>