<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<!-- pa usar el head de mi plantilla layoud: -->	
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
<body>
	<!-- CONTENIDO DE LA PAGINA -->
<section class="nombreClass">
<div id="layoutSidenav_content" layout:fragment="page-content">
   <header>
    <!-- Mensajes emergentes eventuales en el header -->    
      <div class="alert alert-success alert-dismissable" th:if="${success != null}">
          <label th:text="${success}"></label>      
          <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>  
      <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
          <label th:text="${error}"></label>      
          <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>                       
   </header>
	<main style="text-align:center">	 	
	<div class="content mt-2 m-5" >
	    
             <h4 class="text-primary" style="text-align:center">Registrar Habitación</h4>
                         
             <form th:object="${habita}" class="jx-form " method="post" >
                        <div class="card">
                            <div class="card-body">
                            <div class="container">
    				  <div class="row align-items-center">
    					   <div class="col">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input th:field="*{numero}" class="form-control" type="text">
                                </div>
                           </div>
                           <div class="col">
                                <div class="form-group">
                                    <label>Piso</label>
                                    <input th:field="*{piso}" class="form-control" type="text">
                                </div>
                           </div>
                      </div>
                      <div class="row align-items-center">
                               <div class="col">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <input th:field="*{descripcion}" class="form-control" type="text">
                                </div>
                                </div>
                                <div class="col">
                                <div class="form-group">
                                    <label>Características</label>
                                    <input th:field="*{caracteristicas}" class="form-control" type="text">
                                </div>
                                </div>                                
                        </div>
                        <div class="row align-items-center">
                               <div class="col">
                                <div class="form-group">
                                    <label>Precio Diario</label>
                                    <input th:field="*{precio_diario}" class="form-control" type="number" step="any">
                                </div>                                
    					       </div>
    					      <div class="col">
                                <div class="form-group">
                                    <label>Tipo de Habitación</label>
                                    <select th:field="*{tipo_habitacion}" class="form-control">
                                        <option th:value="Simple" selected>Simple</option>
                                        <option th:value="Doble">Doble</option>
                                        <option th:value="Triple">Triple</option>
                                        <option th:value="Familiar">Familiar</option>
                                    </select>
                                </div>
                                </div>
    					      
                         </div>
                         <div class="row align-items-center">                                    
                                 <div class="col">                     
                                			 <div class="form-group">
                                    			<label>Estado</label>
                                    			<select th:field="*{estado}" class="form-control">
                                        			<option th:value="Disponible" selected>Activa</option>                                        			
                                        			<option th:value="Mantenimiento">Mantenimiento</option>
                                    			</select>                                			
                                			 </div>
                                 </div>
                                 <div class="col">
                                      <div class="row">
                                             <div class="col">
                                               <button class="btn btn-primary btn-block" type="submit">
                                                  Registrar
                                               </button>
                                             </div>
                                             <div class="col">
                                               <button class="btn btn-outline-info btn-block go-back-btn" type="button">
                                                  Volver atrás
                                                </button>
                                              </div>
                                       </div>
                                 </div>                                   
                            </div>                              
    					</div>    
  					</div>                   
                </div>              
             </form>
             <a th:href="@{/Habita/habita_listar}"> <button class="btn btn-success mt-5">Ir al Listado de Habitaciones</button></a>
             
            
     </div>						
				
	</main>
			<!-- PIE DE PAGINA:reemplazalo segun mi layout -->
	<footer th:replace="layout/layout :: footer"></footer>
</div>
</section>
	
	<!-- SCRIPTS NECESARIOS PARA ESTA PAGINA especifica AGREGAR AQUI -->
	<th:block layout:fragment="page-scripts">
	     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
               		
	</th:block>
</body>
</html>